<footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="f-info-brand"> &copy; Wonderlust Private Limited</div>
    </div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a> &nbsp;
        <a href="/terms">Terms</a>
    </div>
</footer>