
<style>
  .btn-search{
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }


</style>



<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>       
        </div>


       <!-- <div class="ms-auto">
        <form class="d-flex" action="/listings/search" method="get" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Destinations" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
       </div>  -->
       <div class="ms-auto">
        <form class="d-flex" action="/listings/search" method="get" role="search">
          <input class="form-control me-2" type="search" name="query" placeholder="Location, Country" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div> 
    


        <div class="navbar-nav ms-auto">

          <% if (currUser) { %>
            <a href="/bookings" class="booking btn ms-2 me-2">My Bookings</a>
            <% } %>

          <% if (currUser) { %>
            <a href="/bookings/dashboard" class="btn booking ms-2 me-2">Listing Status</a>
           <% } %>


          <a class="nav-link" href="listings/new">Add New Listing</a>
          <!-- if condition check wheather user is sign up , log in or not if log in then only show the log out button otherwise show sing and log in button -->
          <% if(!currUser){ %> 
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>

          <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
          
        </div>
      </div>
    </div>
  </nav>

  <style>
    .booking{
      background-color:  #fe424d;
      border: none;
      color: white;
    }

    .booking:hover{
    background-color: #fe424d;
    color: #fff;
  }

  .notification{
    size: 100vh;
  }


  </style>